# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPYNB checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual Environment
venv/
.venv/
env/
ENV/

# OS Server files
.DS_Store
Thumbs.db